{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://textract.amazonaws.com/"
        },
        {
            "url": "http://textract.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "Amazon Textract detects and analyzes text in documents and converts it into machine-readable text. This is the API reference documentation for Amazon Textract.",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "Amazon Textract",
        "version": "2018-06-27",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/textract-2018-06-27.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "textract"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://docs.aws.amazon.com/textract/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Analyzes an input document for relationships in the detected text and tables. </p> <p>Two types of information are returned: </p> <ul> <li> <p>Words and lines that are related to nearby lines and words. The related information is returned in two <a>Block</a> objects: a KEY Block object and a VALUE Block object. For example, <i>Name: Ana Silva Carolina</i> contains a key and value. <i>Name:</i> is the key. <i>Ana Silva Carolina</i> is the value.</p> </li> <li> <p>Table and table cell data. A TABLE Block contains information about a detected table. A CELL block is returned for each cell in a table.</p> </li> </ul> <p>You can choose which type of analysis to perform by specifying the <code>FeatureTypes</code> list. </p> <p>The output is returned in a list of <code>BLOCK</code> objects (Blocks). For more information, see <a>how-it-works-analyzing</a>.</p> <p> <code>AnalyzeDocument</code> is a synchronous operation. To analyze documents asynchronously, use <a>StartDocumentAnalysis</a>.</p>",
                "operationId": "AnalyzeDocument",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Blocks": {
                                            "description": "The text that's detected and analyzed by <code>AnalyzeDocument</code>.",
                                            "items": {
                                                "description": "<p>A <code>Block</code> represents text that's recognized in a document within a group of pixels close to each other. The information returned in a <code>Block</code> depends on the type of operation. In document-text detection (for example <a>DetectDocumentText</a>), you get information about the detected words and lines of text. In text analysis (for example <a>AnalyzeDocument</a>), you can get information about the fields and tables that are detected in the document.</p> <p>An array of <code>Block</code> objects is returned by both synchronous and asynchronous operations. In synchronous operations, such as <a>DetectDocumentText</a>, the array of <code>Block</code> objects is the entire set of results. In asynchronous operations, such as <a>GetDocumentAnalysis</a>, the array is returned over one or more responses.</p>",
                                                "properties": {
                                                    "BlockType": {
                                                        "description": "<p>The type of text that's recognized in a block. In text-detection operations, the following types are returned:</p> <ul> <li> <p> <i>PAGE</i> - Contains a list of the LINE Block objects that are detected on a specific page.</p> </li> <li> <p> <i>WORD</i> - One or more ISO basic Latin script characters that aren't separated by spaces.</p> </li> <li> <p> <i>LINE</i> - A string of equally spaced words.</p> </li> </ul> <p>In text analysis operations, the following types are returned:</p> <ul> <li> <p> <i>PAGE</i> - Contains a list of child Block objects that are detected on a specific page.</p> </li> <li> <p> <i>KEY_VALUE_SET</i> - Stores the KEY and VALUE Block objects for a field that's detected in a document. Use the <code>EntityType</code> field to determine if a KEY_VALUE_SET object is a KEY Block object or a VALUE Block object. </p> </li> <li> <p> <i>WORD</i> - One or more ISO basic Latin script characters that aren't separated by spaces.</p> </li> <li> <p> <i>LINE</i> - A string of tab-delimited, contiguous words.</p> </li> <li> <p> <i>TABLE</i> - A table that's detected in the document.</p> </li> <li> <p> <i>CELL</i> - A cell within a detected table. The cell is the parent of the block that contains the text in the cell.</p> </li> </ul>",
                                                        "enum": [
                                                            "KEY_VALUE_SET",
                                                            "PAGE",
                                                            "LINE",
                                                            "WORD",
                                                            "TABLE",
                                                            "CELL"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "ColumnIndex": {
                                                        "description": "The column in which a table cell appears. The first column position is 1. <code>ColumnIndex</code> isn't returned by <code>DetectDocumentText</code> and <code>GetDocumentTextDetection</code>.",
                                                        "minimum": 0,
                                                        "type": "integer"
                                                    },
                                                    "ColumnSpan": {
                                                        "description": "The number of columns that a table cell spans. <code>ColumnSpan</code> isn't returned by <code>DetectDocumentText</code> and <code>GetDocumentTextDetection</code>. ",
                                                        "minimum": 0,
                                                        "type": "integer"
                                                    },
                                                    "Confidence": {
                                                        "description": "The confidence that Amazon Textract has in the accuracy of the recognized text and the accuracy of the geometry points around the recognized text.",
                                                        "format": "float",
                                                        "maximum": 100,
                                                        "minimum": 0,
                                                        "type": "number"
                                                    },
                                                    "EntityTypes": {
                                                        "description": "<p>The type of entity. The following can be returned:</p> <ul> <li> <p> <i>KEY</i> - An identifier for a field on the document.</p> </li> <li> <p> <i>VALUE</i> - The field text.</p> </li> </ul> <p> <code>EntityTypes</code> isn't returned by <code>DetectDocumentText</code> and <code>GetDocumentTextDetection</code>.</p>",
                                                        "items": {
                                                            "enum": [
                                                                "KEY",
                                                                "VALUE"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "Geometry": {
                                                        "description": "The location of the recognized text on the image. It includes an axis-aligned, coarse bounding box that surrounds the text, and a finer-grain polygon for more accurate spatial information. ",
                                                        "properties": {
                                                            "BoundingBox": {
                                                                "description": "An axis-aligned coarse representation of the location of the recognized text on the document page.",
                                                                "properties": {
                                                                    "Height": {
                                                                        "description": "The height of the bounding box as a ratio of the overall document page height.",
                                                                        "format": "float",
                                                                        "type": "number"
                                                                    },
                                                                    "Left": {
                                                                        "description": "The left coordinate of the bounding box as a ratio of overall document page width.",
                                                                        "format": "float",
                                                                        "type": "number"
                                                                    },
                                                                    "Top": {
                                                                        "description": "The top coordinate of the bounding box as a ratio of overall document page height.",
                                                                        "format": "float",
                                                                        "type": "number"
                                                                    },
                                                                    "Width": {
                                                                        "description": "The width of the bounding box as a ratio of the overall document page width.",
                                                                        "format": "float",
                                                                        "type": "number"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "Polygon": {
                                                                "description": "Within the bounding box, a fine-grained polygon around the recognized text.",
                                                                "items": {
                                                                    "description": "<p>The X and Y coordinates of a point on a document page. The X and Y values returned are ratios of the overall document page size. For example, if the input document is 700 x 200 and the operation returns X=0.5 and Y=0.25, then the point is at the (350,50) pixel coordinate on the document page.</p> <p>An array of <code>Point</code> objects, <code>Polygon</code>, is returned by <a>DetectDocumentText</a>. <code>Polygon</code> represents a fine-grained polygon around detected text. For more information, see Geometry in the Amazon Textract Developer Guide. </p>",
                                                                    "properties": {
                                                                        "X": {
                                                                            "description": "The value of the X coordinate for a point on a <code>Polygon</code>.",
                                                                            "format": "float",
                                                                            "type": "number"
                                                                        },
                                                                        "Y": {
                                                                            "description": "The value of the Y coordinate for a point on a <code>Polygon</code>.",
                                                                            "format": "float",
                                                                            "type": "number"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "Id": {
                                                        "description": "The identifier for the recognized text. The identifier is only unique for a single operation. ",
                                                        "pattern": ".*\\S.*",
                                                        "type": "string"
                                                    },
                                                    "Page": {
                                                        "description": "The page in which a block was detected.",
                                                        "minimum": 0,
                                                        "type": "integer"
                                                    },
                                                    "Relationships": {
                                                        "description": "<p>A list of child blocks of the current block. For example a LINE object has child blocks for each WORD block that's part of the line of text. There aren't Relationship objects in the list for relationships that don't exist, such as when the current block has no child blocks. The list size can be the following:</p> <ul> <li> <p>0 - The block has no child blocks.</p> </li> <li> <p>1 - The block has child blocks.</p> </li> </ul>",
                                                        "items": {
                                                            "description": "<p>Information about how blocks are related to each other. A <code>Block</code> object contains 0 or more <code>Relation</code> objects in a list, <code>Relationships</code>. For more information, see <a>Block</a>.</p> <p>The <code>Type</code> element provides the type of the relationship for all blocks in the <code>IDs</code> array. </p>",
                                                            "properties": {
                                                                "Ids": {
                                                                    "description": "An array of IDs for related blocks. You can get the type of the relationship from the <code>Type</code> element.",
                                                                    "items": {
                                                                        "pattern": ".*\\S.*",
                                                                        "type": "string"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "Type": {
                                                                    "description": "The type of relationship that the blocks in the IDs array have with the current block. The relationship can be <code>VALUE</code> or <code>CHILD</code>.",
                                                                    "enum": [
                                                                        "VALUE",
                                                                        "CHILD"
                                                                    ],
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "RowIndex": {
                                                        "description": "The row in which a table cell is located. The first row position is 1. <code>RowIndex</code> isn't returned by <code>DetectDocumentText</code> and <code>GetDocumentTextDetection</code>.",
                                                        "minimum": 0,
                                                        "type": "integer"
                                                    },
                                                    "RowSpan": {
                                                        "description": "The number of rows that a table spans. <code>RowSpan</code> isn't returned by <code>DetectDocumentText</code> and <code>GetDocumentTextDetection</code>.",
                                                        "minimum": 0,
                                                        "type": "integer"
                                                    },
                                                    "Text": {
                                                        "description": "The word or line of text that's recognized by Amazon Textract. ",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "DocumentMetadata": {
                                            "description": "Metadata about the analyzed document. An example is the number of pages.",
                                            "properties": {
                                                "Pages": {
                                                    "description": "The number of pages detected in the document.",
                                                    "minimum": 0,
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidS3ObjectException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "UnsupportedDocumentException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "DocumentTooLargeException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "BadDocumentException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "AccessDeniedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "486": {
                        "description": "ProvisionedThroughputExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "487": {
                        "description": "InternalServerError",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "488": {
                        "description": "ThrottlingException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "Document": {
                                        "description": "The input document as base64-encoded bytes or an Amazon S3 object. If you use the AWS CLI to call Amazon Textract operations, you can't pass image bytes. The document must be an image in JPG or PNG format.",
                                        "properties": {
                                            "Bytes": {
                                                "description": "A blob of documents bytes. The maximum size of a document that's provided in a blob of bytes is 5 MB.",
                                                "maxLength": 5242880,
                                                "minLength": 1,
                                                "type": "string"
                                            },
                                            "S3Object": {
                                                "description": "Identifies an S3 object as the document source. The maximum size of a document stored in an S3 bucket is 5 MB.",
                                                "properties": {
                                                    "Bucket": {
                                                        "description": "The name of the S3 bucket.",
                                                        "maxLength": 255,
                                                        "minLength": 3,
                                                        "pattern": "[0-9A-Za-z\\.\\-_]*",
                                                        "type": "string"
                                                    },
                                                    "Name": {
                                                        "description": "The file name of the input document. It must be an image file (.JPG or .PNG format). Asynchronous operations also support PDF files.",
                                                        "maxLength": 1024,
                                                        "minLength": 1,
                                                        "pattern": ".*\\S.*",
                                                        "type": "string"
                                                    },
                                                    "Version": {
                                                        "description": "If the bucket has versioning enabled, you can specify the object version. ",
                                                        "maxLength": 1024,
                                                        "minLength": 1,
                                                        "pattern": ".*\\S.*",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "FeatureTypes": {
                                        "description": "A list of the types of analysis to perform. Add TABLES to the list to return information about the tables detected in the input document. Add FORMS to return detected fields and the associated text. To perform both types of analysis, add TABLES and FORMS to <code>FeatureTypes</code>.",
                                        "items": {
                                            "enum": [
                                                "TABLES",
                                                "FORMS"
                                            ],
                                            "type": "string"
                                        },
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "Document",
                                    "FeatureTypes"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DetectDocumentText": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Detects text in the input document. Amazon Textract can detect lines of text and the words that make up a line of text. The input document must be an image in JPG or PNG format. <code>DetectDocumentText</code> returns the detected text in an array of <a>Block</a> objects. For more information, see <a>how-it-works-detecting</a>.</p> <p> <code>DetectDocumentText</code> is a synchronous operation. To analyze documents asynchronously, use <a>StartDocumentTextDetection</a>.</p>",
                "operationId": "DetectDocumentText",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Blocks": {
                                            "description": "An array of Block objects containing the text detected in the document.",
                                            "items": {
                                                "description": "<p>A <code>Block</code> represents text that's recognized in a document within a group of pixels close to each other. The information returned in a <code>Block</code> depends on the type of operation. In document-text detection (for example <a>DetectDocumentText</a>), you get information about the detected words and lines of text. In text analysis (for example <a>AnalyzeDocument</a>), you can get information about the fields and tables that are detected in the document.</p> <p>An array of <code>Block</code> objects is returned by both synchronous and asynchronous operations. In synchronous operations, such as <a>DetectDocumentText</a>, the array of <code>Block</code> objects is the entire set of results. In asynchronous operations, such as <a>GetDocumentAnalysis</a>, the array is returned over one or more responses.</p>",
                                                "properties": {
                                                    "BlockType": {
                                                        "description": "<p>The type of text that's recognized in a block. In text-detection operations, the following types are returned:</p> <ul> <li> <p> <i>PAGE</i> - Contains a list of the LINE Block objects that are detected on a specific page.</p> </li> <li> <p> <i>WORD</i> - One or more ISO basic Latin script characters that aren't separated by spaces.</p> </li> <li> <p> <i>LINE</i> - A string of equally spaced words.</p> </li> </ul> <p>In text analysis operations, the following types are returned:</p> <ul> <li> <p> <i>PAGE</i> - Contains a list of child Block objects that are detected on a specific page.</p> </li> <li> <p> <i>KEY_VALUE_SET</i> - Stores the KEY and VALUE Block objects for a field that's detected in a document. Use the <code>EntityType</code> field to determine if a KEY_VALUE_SET object is a KEY Block object or a VALUE Block object. </p> </li> <li> <p> <i>WORD</i> - One or more ISO basic Latin script characters that aren't separated by spaces.</p> </li> <li> <p> <i>LINE</i> - A string of tab-delimited, contiguous words.</p> </li> <li> <p> <i>TABLE</i> - A table that's detected in the document.</p> </li> <li> <p> <i>CELL</i> - A cell within a detected table. The cell is the parent of the block that contains the text in the cell.</p> </li> </ul>",
                                                        "enum": [
                                                            "KEY_VALUE_SET",
                                                            "PAGE",
                                                            "LINE",
                                                            "WORD",
                                                            "TABLE",
                                                            "CELL"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "ColumnIndex": {
                                                        "description": "The column in which a table cell appears. The first column position is 1. <code>ColumnIndex</code> isn't returned by <code>DetectDocumentText</code> and <code>GetDocumentTextDetection</code>.",
                                                        "minimum": 0,
                                                        "type": "integer"
                                                    },
                                                    "ColumnSpan": {
                                                        "description": "The number of columns that a table cell spans. <code>ColumnSpan</code> isn't returned by <code>DetectDocumentText</code> and <code>GetDocumentTextDetection</code>. ",
                                                        "minimum": 0,
                                                        "type": "integer"
                                                    },
                                                    "Confidence": {
                                                        "description": "The confidence that Amazon Textract has in the accuracy of the recognized text and the accuracy of the geometry points around the recognized text.",
                                                        "format": "float",
                                                        "maximum": 100,
                                                        "minimum": 0,
                                                        "type": "number"
                                                    },
                                                    "EntityTypes": {
                                                        "description": "<p>The type of entity. The following can be returned:</p> <ul> <li> <p> <i>KEY</i> - An identifier for a field on the document.</p> </li> <li> <p> <i>VALUE</i> - The field text.</p> </li> </ul> <p> <code>EntityTypes</code> isn't returned by <code>DetectDocumentText</code> and <code>GetDocumentTextDetection</code>.</p>",
                                                        "items": {
                                                            "enum": [
                                                                "KEY",
                                                                "VALUE"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "Geometry": {
                                                        "description": "The location of the recognized text on the image. It includes an axis-aligned, coarse bounding box that surrounds the text, and a finer-grain polygon for more accurate spatial information. ",
                                                        "properties": {
                                                            "BoundingBox": {
                                                                "description": "An axis-aligned coarse representation of the location of the recognized text on the document page.",
                                                                "properties": {
                                                                    "Height": {
                                                                        "description": "The height of the bounding box as a ratio of the overall document page height.",
                                                                        "format": "float",
                                                                        "type": "number"
                                                                    },
                                                                    "Left": {
                                                                        "description": "The left coordinate of the bounding box as a ratio of overall document page width.",
                                                                        "format": "float",
                                                                        "type": "number"
                                                                    },
                                                                    "Top": {
                                                                        "description": "The top coordinate of the bounding box as a ratio of overall document page height.",
                                                                        "format": "float",
                                                                        "type": "number"
                                                                    },
                                                                    "Width": {
                                                                        "description": "The width of the bounding box as a ratio of the overall document page width.",
                                                                        "format": "float",
                                                                        "type": "number"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "Polygon": {
                                                                "description": "Within the bounding box, a fine-grained polygon around the recognized text.",
                                                                "items": {
                                                                    "description": "<p>The X and Y coordinates of a point on a document page. The X and Y values returned are ratios of the overall document page size. For example, if the input document is 700 x 200 and the operation returns X=0.5 and Y=0.25, then the point is at the (350,50) pixel coordinate on the document page.</p> <p>An array of <code>Point</code> objects, <code>Polygon</code>, is returned by <a>DetectDocumentText</a>. <code>Polygon</code> represents a fine-grained polygon around detected text. For more information, see Geometry in the Amazon Textract Developer Guide. </p>",
                                                                    "properties": {
                                                                        "X": {
                                                                            "description": "The value of the X coordinate for a point on a <code>Polygon</code>.",
                                                                            "format": "float",
                                                                            "type": "number"
                                                                        },
                                                                        "Y": {
                                                                            "description": "The value of the Y coordinate for a point on a <code>Polygon</code>.",
                                                                            "format": "float",
                                                                            "type": "number"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "Id": {
                                                        "description": "The identifier for the recognized text. The identifier is only unique for a single operation. ",
                                                        "pattern": ".*\\S.*",
                                                        "type": "string"
                                                    },
                                                    "Page": {
                                                        "description": "The page in which a block was detected.",
                                                        "minimum": 0,
                                                        "type": "integer"
                                                    },
                                                    "Relationships": {
                                                        "description": "<p>A list of child blocks of the current block. For example a LINE object has child blocks for each WORD block that's part of the line of text. There aren't Relationship objects in the list for relationships that don't exist, such as when the current block has no child blocks. The list size can be the following:</p> <ul> <li> <p>0 - The block has no child blocks.</p> </li> <li> <p>1 - The block has child blocks.</p> </li> </ul>",
                                                        "items": {
                                                            "description": "<p>Information about how blocks are related to each other. A <code>Block</code> object contains 0 or more <code>Relation</code> objects in a list, <code>Relationships</code>. For more information, see <a>Block</a>.</p> <p>The <code>Type</code> element provides the type of the relationship for all blocks in the <code>IDs</code> array. </p>",
                                                            "properties": {
                                                                "Ids": {
                                                                    "description": "An array of IDs for related blocks. You can get the type of the relationship from the <code>Type</code> element.",
                                                                    "items": {
                                                                        "pattern": ".*\\S.*",
                                                                        "type": "string"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "Type": {
                                                                    "description": "The type of relationship that the blocks in the IDs array have with the current block. The relationship can be <code>VALUE</code> or <code>CHILD</code>.",
                                                                    "enum": [
                                                                        "VALUE",
                                                                        "CHILD"
                                                                    ],
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "RowIndex": {
                                                        "description": "The row in which a table cell is located. The first row position is 1. <code>RowIndex</code> isn't returned by <code>DetectDocumentText</code> and <code>GetDocumentTextDetection</code>.",
                                                        "minimum": 0,
                                                        "type": "integer"
                                                    },
                                                    "RowSpan": {
                                                        "description": "The number of rows that a table spans. <code>RowSpan</code> isn't returned by <code>DetectDocumentText</code> and <code>GetDocumentTextDetection</code>.",
                                                        "minimum": 0,
                                                        "type": "integer"
                                                    },
                                                    "Text": {
                                                        "description": "The word or line of text that's recognized by Amazon Textract. ",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "DocumentMetadata": {
                                            "description": "Metadata about the document. Contains the number of pages that are detected in the document.",
                                            "properties": {
                                                "Pages": {
                                                    "description": "The number of pages detected in the document.",
                                                    "minimum": 0,
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidS3ObjectException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "UnsupportedDocumentException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "DocumentTooLargeException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "BadDocumentException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "AccessDeniedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "486": {
                        "description": "ProvisionedThroughputExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "487": {
                        "description": "InternalServerError",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "488": {
                        "description": "ThrottlingException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "Document": {
                                        "description": "The input document as base64-encoded bytes or an Amazon S3 object. If you use the AWS CLI to call Amazon Textract operations, you can't pass image bytes. The document must be an image in JPG or PNG format.",
                                        "properties": {
                                            "Bytes": {
                                                "description": "A blob of documents bytes. The maximum size of a document that's provided in a blob of bytes is 5 MB.",
                                                "maxLength": 5242880,
                                                "minLength": 1,
                                                "type": "string"
                                            },
                                            "S3Object": {
                                                "description": "Identifies an S3 object as the document source. The maximum size of a document stored in an S3 bucket is 5 MB.",
                                                "properties": {
                                                    "Bucket": {
                                                        "description": "The name of the S3 bucket.",
                                                        "maxLength": 255,
                                                        "minLength": 3,
                                                        "pattern": "[0-9A-Za-z\\.\\-_]*",
                                                        "type": "string"
                                                    },
                                                    "Name": {
                                                        "description": "The file name of the input document. It must be an image file (.JPG or .PNG format). Asynchronous operations also support PDF files.",
                                                        "maxLength": 1024,
                                                        "minLength": 1,
                                                        "pattern": ".*\\S.*",
                                                        "type": "string"
                                                    },
                                                    "Version": {
                                                        "description": "If the bucket has versioning enabled, you can specify the object version. ",
                                                        "maxLength": 1024,
                                                        "minLength": 1,
                                                        "pattern": ".*\\S.*",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "required": [
                                    "Document"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#GetDocumentAnalysis": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Gets the results for an Amazon Textract asynchronous operation that analyzes text in a document image.</p> <p>You start asynchronous text analysis by calling <a>StartDocumentAnalysis</a>, which returns a job identifier (<code>JobId</code>). When the text analysis operation finishes, Amazon Textract publishes a completion status to the Amazon Simple Notification Service (Amazon SNS) topic that's registered in the initial call to <code>StartDocumentAnalysis</code>. To get the results of the text-detection operation, first check that the status value published to the Amazon SNS topic is <code>SUCCEEDED</code>. If so, call <code>GetDocumentAnalysis</code>, and pass the job identifier (<code>JobId</code>) from the initial call to <code>StartDocumentAnalysis</code>.</p> <p> <code>GetDocumentAnalysis</code> returns an array of <a>Block</a> objects. For more information, see <a>how-it-works-analyzing</a>.</p> <p>Use the <code>MaxResults</code> parameter to limit the number of blocks returned. If there are more results than specified in <code>MaxResults</code>, the value of <code>NextToken</code> in the operation response contains a pagination token for getting the next set of results. To get the next page of results, call <code>GetDocumentAnalysis</code>, and populate the <code>NextToken</code> request parameter with the token value that's returned from the previous call to <code>GetDocumentAnalysis</code>.</p>",
                "operationId": "GetDocumentAnalysis",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Blocks": {
                                            "description": "The results of the text analysis operation.",
                                            "items": {
                                                "description": "<p>A <code>Block</code> represents text that's recognized in a document within a group of pixels close to each other. The information returned in a <code>Block</code> depends on the type of operation. In document-text detection (for example <a>DetectDocumentText</a>), you get information about the detected words and lines of text. In text analysis (for example <a>AnalyzeDocument</a>), you can get information about the fields and tables that are detected in the document.</p> <p>An array of <code>Block</code> objects is returned by both synchronous and asynchronous operations. In synchronous operations, such as <a>DetectDocumentText</a>, the array of <code>Block</code> objects is the entire set of results. In asynchronous operations, such as <a>GetDocumentAnalysis</a>, the array is returned over one or more responses.</p>",
                                                "properties": {
                                                    "BlockType": {
                                                        "description": "<p>The type of text that's recognized in a block. In text-detection operations, the following types are returned:</p> <ul> <li> <p> <i>PAGE</i> - Contains a list of the LINE Block objects that are detected on a specific page.</p> </li> <li> <p> <i>WORD</i> - One or more ISO basic Latin script characters that aren't separated by spaces.</p> </li> <li> <p> <i>LINE</i> - A string of equally spaced words.</p> </li> </ul> <p>In text analysis operations, the following types are returned:</p> <ul> <li> <p> <i>PAGE</i> - Contains a list of child Block objects that are detected on a specific page.</p> </li> <li> <p> <i>KEY_VALUE_SET</i> - Stores the KEY and VALUE Block objects for a field that's detected in a document. Use the <code>EntityType</code> field to determine if a KEY_VALUE_SET object is a KEY Block object or a VALUE Block object. </p> </li> <li> <p> <i>WORD</i> - One or more ISO basic Latin script characters that aren't separated by spaces.</p> </li> <li> <p> <i>LINE</i> - A string of tab-delimited, contiguous words.</p> </li> <li> <p> <i>TABLE</i> - A table that's detected in the document.</p> </li> <li> <p> <i>CELL</i> - A cell within a detected table. The cell is the parent of the block that contains the text in the cell.</p> </li> </ul>",
                                                        "enum": [
                                                            "KEY_VALUE_SET",
                                                            "PAGE",
                                                            "LINE",
                                                            "WORD",
                                                            "TABLE",
                                                            "CELL"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "ColumnIndex": {
                                                        "description": "The column in which a table cell appears. The first column position is 1. <code>ColumnIndex</code> isn't returned by <code>DetectDocumentText</code> and <code>GetDocumentTextDetection</code>.",
                                                        "minimum": 0,
                                                        "type": "integer"
                                                    },
                                                    "ColumnSpan": {
                                                        "description": "The number of columns that a table cell spans. <code>ColumnSpan</code> isn't returned by <code>DetectDocumentText</code> and <code>GetDocumentTextDetection</code>. ",
                                                        "minimum": 0,
                                                        "type": "integer"
                                                    },
                                                    "Confidence": {
                                                        "description": "The confidence that Amazon Textract has in the accuracy of the recognized text and the accuracy of the geometry points around the recognized text.",
                                                        "format": "float",
                                                        "maximum": 100,
                                                        "minimum": 0,
                                                        "type": "number"
                                                    },
                                                    "EntityTypes": {
                                                        "description": "<p>The type of entity. The following can be returned:</p> <ul> <li> <p> <i>KEY</i> - An identifier for a field on the document.</p> </li> <li> <p> <i>VALUE</i> - The field text.</p> </li> </ul> <p> <code>EntityTypes</code> isn't returned by <code>DetectDocumentText</code> and <code>GetDocumentTextDetection</code>.</p>",
                                                        "items": {
                                                            "enum": [
                                                                "KEY",
                                                                "VALUE"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "Geometry": {
                                                        "description": "The location of the recognized text on the image. It includes an axis-aligned, coarse bounding box that surrounds the text, and a finer-grain polygon for more accurate spatial information. ",
                                                        "properties": {
                                                            "BoundingBox": {
                                                                "description": "An axis-aligned coarse representation of the location of the recognized text on the document page.",
                                                                "properties": {
                                                                    "Height": {
                                                                        "description": "The height of the bounding box as a ratio of the overall document page height.",
                                                                        "format": "float",
                                                                        "type": "number"
                                                                    },
                                                                    "Left": {
                                                                        "description": "The left coordinate of the bounding box as a ratio of overall document page width.",
                                                                        "format": "float",
                                                                        "type": "number"
                                                                    },
                                                                    "Top": {
                                                                        "description": "The top coordinate of the bounding box as a ratio of overall document page height.",
                                                                        "format": "float",
                                                                        "type": "number"
                                                                    },
                                                                    "Width": {
                                                                        "description": "The width of the bounding box as a ratio of the overall document page width.",
                                                                        "format": "float",
                                                                        "type": "number"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "Polygon": {
                                                                "description": "Within the bounding box, a fine-grained polygon around the recognized text.",
                                                                "items": {
                                                                    "description": "<p>The X and Y coordinates of a point on a document page. The X and Y values returned are ratios of the overall document page size. For example, if the input document is 700 x 200 and the operation returns X=0.5 and Y=0.25, then the point is at the (350,50) pixel coordinate on the document page.</p> <p>An array of <code>Point</code> objects, <code>Polygon</code>, is returned by <a>DetectDocumentText</a>. <code>Polygon</code> represents a fine-grained polygon around detected text. For more information, see Geometry in the Amazon Textract Developer Guide. </p>",
                                                                    "properties": {
                                                                        "X": {
                                                                            "description": "The value of the X coordinate for a point on a <code>Polygon</code>.",
                                                                            "format": "float",
                                                                            "type": "number"
                                                                        },
                                                                        "Y": {
                                                                            "description": "The value of the Y coordinate for a point on a <code>Polygon</code>.",
                                                                            "format": "float",
                                                                            "type": "number"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "Id": {
                                                        "description": "The identifier for the recognized text. The identifier is only unique for a single operation. ",
                                                        "pattern": ".*\\S.*",
                                                        "type": "string"
                                                    },
                                                    "Page": {
                                                        "description": "The page in which a block was detected.",
                                                        "minimum": 0,
                                                        "type": "integer"
                                                    },
                                                    "Relationships": {
                                                        "description": "<p>A list of child blocks of the current block. For example a LINE object has child blocks for each WORD block that's part of the line of text. There aren't Relationship objects in the list for relationships that don't exist, such as when the current block has no child blocks. The list size can be the following:</p> <ul> <li> <p>0 - The block has no child blocks.</p> </li> <li> <p>1 - The block has child blocks.</p> </li> </ul>",
                                                        "items": {
                                                            "description": "<p>Information about how blocks are related to each other. A <code>Block</code> object contains 0 or more <code>Relation</code> objects in a list, <code>Relationships</code>. For more information, see <a>Block</a>.</p> <p>The <code>Type</code> element provides the type of the relationship for all blocks in the <code>IDs</code> array. </p>",
                                                            "properties": {
                                                                "Ids": {
                                                                    "description": "An array of IDs for related blocks. You can get the type of the relationship from the <code>Type</code> element.",
                                                                    "items": {
                                                                        "pattern": ".*\\S.*",
                                                                        "type": "string"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "Type": {
                                                                    "description": "The type of relationship that the blocks in the IDs array have with the current block. The relationship can be <code>VALUE</code> or <code>CHILD</code>.",
                                                                    "enum": [
                                                                        "VALUE",
                                                                        "CHILD"
                                                                    ],
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "RowIndex": {
                                                        "description": "The row in which a table cell is located. The first row position is 1. <code>RowIndex</code> isn't returned by <code>DetectDocumentText</code> and <code>GetDocumentTextDetection</code>.",
                                                        "minimum": 0,
                                                        "type": "integer"
                                                    },
                                                    "RowSpan": {
                                                        "description": "The number of rows that a table spans. <code>RowSpan</code> isn't returned by <code>DetectDocumentText</code> and <code>GetDocumentTextDetection</code>.",
                                                        "minimum": 0,
                                                        "type": "integer"
                                                    },
                                                    "Text": {
                                                        "description": "The word or line of text that's recognized by Amazon Textract. ",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "DocumentMetadata": {
                                            "description": "Information about a document that Amazon Textract processed. <code>DocumentMetadata</code> is returned in every page of paginated responses from an Amazon Textract video operation.",
                                            "properties": {
                                                "Pages": {
                                                    "description": "The number of pages detected in the document.",
                                                    "minimum": 0,
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "JobStatus": {
                                            "description": "The current status of the text detection job.",
                                            "enum": [
                                                "IN_PROGRESS",
                                                "SUCCEEDED",
                                                "FAILED",
                                                "PARTIAL_SUCCESS"
                                            ],
                                            "type": "string"
                                        },
                                        "NextToken": {
                                            "description": "If the response is truncated, Amazon Textract returns this token. You can use this token in the subsequent request to retrieve the next set of text detection results.",
                                            "maxLength": 255,
                                            "minLength": 1,
                                            "pattern": ".*\\S.*",
                                            "type": "string"
                                        },
                                        "StatusMessage": {
                                            "description": "The current status of an asynchronous document analysis operation.",
                                            "type": "string"
                                        },
                                        "Warnings": {
                                            "description": "A list of warnings that occurred during the document analysis operation.",
                                            "items": {
                                                "description": "A warning about an issue that occurred during asynchronous text analysis (<a>StartDocumentAnalysis</a>) or asynchronous document-text detection (<a>StartDocumentTextDetection</a>). ",
                                                "properties": {
                                                    "ErrorCode": {
                                                        "description": "The error code for the warning.",
                                                        "type": "string"
                                                    },
                                                    "Pages": {
                                                        "description": "A list of the pages that the warning applies to.",
                                                        "items": {
                                                            "minimum": 0,
                                                            "type": "integer"
                                                        },
                                                        "type": "array"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "AccessDeniedException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ProvisionedThroughputExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InvalidJobIdException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "InternalServerError",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "ThrottlingException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "JobId": {
                                        "description": "A unique identifier for the text-detection job. The <code>JobId</code> is returned from <code>StartDocumentAnalysis</code>.",
                                        "maxLength": 64,
                                        "minLength": 1,
                                        "pattern": "^[a-zA-Z0-9-_]+$",
                                        "type": "string"
                                    },
                                    "MaxResults": {
                                        "description": "The maximum number of results to return per paginated call. The largest value that you can specify is 1,000. If you specify a value greater than 1,000, a maximum of 1,000 results is returned. The default value is 1,000.",
                                        "minimum": 1,
                                        "type": "integer"
                                    },
                                    "NextToken": {
                                        "description": "If the previous response was incomplete (because there are more blocks to retrieve), Amazon Textract returns a pagination token in the response. You can use this pagination token to retrieve the next set of blocks.",
                                        "maxLength": 255,
                                        "minLength": 1,
                                        "pattern": ".*\\S.*",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "JobId"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#GetDocumentTextDetection": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Gets the results for an Amazon Textract asynchronous operation that detects text in a document image. Amazon Textract can detect lines of text and the words that make up a line of text.</p> <p>You start asynchronous text detection by calling <a>StartDocumentTextDetection</a>, which returns a job identifier (<code>JobId</code>). When the text detection operation finishes, Amazon Textract publishes a completion status to the Amazon Simple Notification Service (Amazon SNS) topic that's registered in the initial call to <code>StartDocumentTextDetection</code>. To get the results of the text-detection operation, first check that the status value published to the Amazon SNS topic is <code>SUCCEEDED</code>. If so, call <code>GetDocumentTextDetection</code>, and pass the job identifier (<code>JobId</code>) from the initial call to <code>StartDocumentTextDetection</code>.</p> <p> <code>GetDocumentTextDetection</code> returns an array of <a>Block</a> objects. For more information, see <a>how-it-works-detecting</a>.</p> <p>Use the MaxResults parameter to limit the number of blocks that are returned. If there are more results than specified in <code>MaxResults</code>, the value of <code>NextToken</code> in the operation response contains a pagination token for getting the next set of results. To get the next page of results, call <code>GetDocumentTextDetection</code>, and populate the <code>NextToken</code> request parameter with the token value that's returned from the previous call to <code>GetDocumentTextDetection</code>.</p> <p>For more information, see Document Text Detection in the Amazon Textract Developer Guide.</p>",
                "operationId": "GetDocumentTextDetection",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "Blocks": {
                                            "description": "The results of the text-detection operation.",
                                            "items": {
                                                "description": "<p>A <code>Block</code> represents text that's recognized in a document within a group of pixels close to each other. The information returned in a <code>Block</code> depends on the type of operation. In document-text detection (for example <a>DetectDocumentText</a>), you get information about the detected words and lines of text. In text analysis (for example <a>AnalyzeDocument</a>), you can get information about the fields and tables that are detected in the document.</p> <p>An array of <code>Block</code> objects is returned by both synchronous and asynchronous operations. In synchronous operations, such as <a>DetectDocumentText</a>, the array of <code>Block</code> objects is the entire set of results. In asynchronous operations, such as <a>GetDocumentAnalysis</a>, the array is returned over one or more responses.</p>",
                                                "properties": {
                                                    "BlockType": {
                                                        "description": "<p>The type of text that's recognized in a block. In text-detection operations, the following types are returned:</p> <ul> <li> <p> <i>PAGE</i> - Contains a list of the LINE Block objects that are detected on a specific page.</p> </li> <li> <p> <i>WORD</i> - One or more ISO basic Latin script characters that aren't separated by spaces.</p> </li> <li> <p> <i>LINE</i> - A string of equally spaced words.</p> </li> </ul> <p>In text analysis operations, the following types are returned:</p> <ul> <li> <p> <i>PAGE</i> - Contains a list of child Block objects that are detected on a specific page.</p> </li> <li> <p> <i>KEY_VALUE_SET</i> - Stores the KEY and VALUE Block objects for a field that's detected in a document. Use the <code>EntityType</code> field to determine if a KEY_VALUE_SET object is a KEY Block object or a VALUE Block object. </p> </li> <li> <p> <i>WORD</i> - One or more ISO basic Latin script characters that aren't separated by spaces.</p> </li> <li> <p> <i>LINE</i> - A string of tab-delimited, contiguous words.</p> </li> <li> <p> <i>TABLE</i> - A table that's detected in the document.</p> </li> <li> <p> <i>CELL</i> - A cell within a detected table. The cell is the parent of the block that contains the text in the cell.</p> </li> </ul>",
                                                        "enum": [
                                                            "KEY_VALUE_SET",
                                                            "PAGE",
                                                            "LINE",
                                                            "WORD",
                                                            "TABLE",
                                                            "CELL"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "ColumnIndex": {
                                                        "description": "The column in which a table cell appears. The first column position is 1. <code>ColumnIndex</code> isn't returned by <code>DetectDocumentText</code> and <code>GetDocumentTextDetection</code>.",
                                                        "minimum": 0,
                                                        "type": "integer"
                                                    },
                                                    "ColumnSpan": {
                                                        "description": "The number of columns that a table cell spans. <code>ColumnSpan</code> isn't returned by <code>DetectDocumentText</code> and <code>GetDocumentTextDetection</code>. ",
                                                        "minimum": 0,
                                                        "type": "integer"
                                                    },
                                                    "Confidence": {
                                                        "description": "The confidence that Amazon Textract has in the accuracy of the recognized text and the accuracy of the geometry points around the recognized text.",
                                                        "format": "float",
                                                        "maximum": 100,
                                                        "minimum": 0,
                                                        "type": "number"
                                                    },
                                                    "EntityTypes": {
                                                        "description": "<p>The type of entity. The following can be returned:</p> <ul> <li> <p> <i>KEY</i> - An identifier for a field on the document.</p> </li> <li> <p> <i>VALUE</i> - The field text.</p> </li> </ul> <p> <code>EntityTypes</code> isn't returned by <code>DetectDocumentText</code> and <code>GetDocumentTextDetection</code>.</p>",
                                                        "items": {
                                                            "enum": [
                                                                "KEY",
                                                                "VALUE"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "Geometry": {
                                                        "description": "The location of the recognized text on the image. It includes an axis-aligned, coarse bounding box that surrounds the text, and a finer-grain polygon for more accurate spatial information. ",
                                                        "properties": {
                                                            "BoundingBox": {
                                                                "description": "An axis-aligned coarse representation of the location of the recognized text on the document page.",
                                                                "properties": {
                                                                    "Height": {
                                                                        "description": "The height of the bounding box as a ratio of the overall document page height.",
                                                                        "format": "float",
                                                                        "type": "number"
[...]
